body{
background-color: rgb(231, 195, 162);
font-family:Instrument Serif;
}
header{
font-size: 50px;
text-align: center;
background-color: rgb(237, 100, 100);
color: rgb(219, 216, 23);
border: dotted;
}
.top1{
text-align: center;
padding-bottom: 40px;
}